.amc-confirmation-card{

background:#111;

border:1px solid #c9a227;

border-radius:20px;

padding:40px;

max-width:700px;

margin:auto;

color:white;

text-align:center;

box-shadow:0 0 30px rgba(201,162,39,0.2);

}



.success-icon{

width:70px;

height:70px;

border-radius:50%;

background:#c9a227;

color:#111;

font-size:40px;

display:flex;

align-items:center;

justify-content:center;

margin:auto;

font-weight:bold;

}



.amc-confirmation-card h2{

margin-top:20px;

color:#c9a227;

}



.success-message{

color:#ccc;

line-height:1.7;

}



.contract-details{

margin-top:30px;

background:#181818;

padding:25px;

border-radius:15px;

text-align:left;

}



.contract-details h3{

color:#c9a227;

margin-bottom:20px;

}



.contract-row{

display:flex;

justify-content:space-between;

padding:12px 0;

border-bottom:1px solid #333;

}



.contract-row span{

color:#aaa;

}



.active-status{

color:#c9a227;

}



.dashboard-btn{

margin-top:30px;

background:#c9a227;

border:none;

padding:14px 30px;

border-radius:10px;

font-weight:600;

cursor:pointer;

}